---
import Layout from "../../layouts/Layout.astro";
import BlogPostCard from "../../components/BlogPostCard.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog");
---
<Layout>
  <section
    class="relative w-full p-6 text-black dark:text-white"
  >
    <div class="grid grid-cols-1 md:grid-cols-3 w-full gap-6">
      {allPosts.map((post: any) =>(<BlogPostCard 
        image={post.data.image}
        title={post.data.title} url={`/blog/${post.id}`}/>))}
    </div>
  </section>
</Layout>
