@import "tailwindcss";


@font-face {
  font-family: 'Hammer Fat';
  src: url("../assets/hammerfat.ttf");
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-vermillion: #D83114;
  --color-special-yellow: #FFC107;
  --color-dark-vermillion: #9A1F0C;
  --color-dark-special-yellow: #E0A806;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Hammer Fat", sans-serif;
  @apply text-vermillion dark:text-dark-special-yellow;
}

nav h1,
nav h2,
nav h3,
nav h4,
nav h5,
nav h6 {
  @apply text-special-yellow dark:text-dark-special-yellow;
}

.hero-text {
  font-family: "Hammer Fat", sans-serif;
  font-size: 2rem;
}

.card-title {
  font-family: "Hammer Fat", sans-serif;
  font-size: 1.875rem;
  @apply text-special-yellow dark:text-dark-special-yellow;
}

.form-input {
  @apply w-full px-3 py-2 border rounded shadow text-gray-700 dark:text-gray-200 bg-white dark:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500;
}


.input-error {
  @apply border-red-500 ring-red-500;
}

.input-valid {
  @apply border-green-500 ring-green-500;
}