@import "tailwindcss";

@font-face {
    font-family: 'Hammer Fat';
    src: url("../assets/hammerfat.ttf");
}

@custom-variant dark (&:where(.dark, .dark *));


h1, h2, h3, h4, h5, h6 {
    font-family: "Hammer Fat", sans-serif;
}