---
import Layout from "../layouts/Layout.astro";
import BlogPostCard from "../components/BlogPostCard.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog");
---

<Layout>
  <section
    class="relative w-full h-[90vh] p-6 text-black dark:text-white"
  >
    <ul>
      {allPosts.map((post: any) =>(<BlogPostCard 
        image={post.data.image}
        title={post.data.title} url={`/posts/${post.id}`}/>))}
    </ul>
  </section>
</Layout>
