---

---

<footer
  class="h-16 flex items-center justify-center bg-vermillion text-special-yellow dark:bg-dark-vermillion dark:text-special-yellow"
>
  <p>&copy;2026 Gripweed Consulting LLC</p>
</footer>
