---
import Icon from "./Icon";
---

<ul class="flex gap-2 items-center justify-center md:ml-1">
  <li>
    <Icon name="FaUpwork" set="fa6" size={16}/>
  </li>
  <li>
      <Icon name="FaLinkedinIn" set="fa6" size={16} />
    </li>
</ul>
